.filter {
    width: 20%; 
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
   align-items: center;
    width: 50rem;
    margin: 20px 0;

}
.select {
    width: 200px;
    
}

.selectContainer {
    display: flex;
    align-items: center;

}

.selectContainer span {
    margin-right: 1rem;
    display: block;
}