.formcontrol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2px 0;
}

.formcontrol input{
    border-radius: 5px;
    border:1px solid  #6d28d9;
    padding: 8px 3px;
    color: #6d28d9;
    width: 300px;
    margin: 1rem 0px 0.5rem 1rem;
}

.formcontrol input:focus {
    outline: none;
    border: 2px solid #6d28d9;
}

